.tasks {
  margin-top: 30px;
}

.tasks li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 600ms;
}

.tasks li:hover {
  background-color: var(--skye-blue);
}

.tasks li .buttonEdit {
  margin-right: 15px;
  color: var(--skye-blue);
}

.tasks li .buttonDelete {
  margin-right: 15px;
  color: var(--coral-pink);
}

.tasks li:hover .buttonEdit,
.tasks li:hover .buttonDelete {
  color: black;
}

.tasks li .buttonEdit,
.tasks li .buttonDelete {
  cursor: pointer;
  transition: all 600ms;
}

.tasks li span {
  display: flex;
  align-items: center;
}
